.gitignore

# my dir for log file
Log/

# my makefile config file
local.mk

# my asm files
asm/

# obj (.o) and dep (.d) files
bin/

# dir for executable
build/

# my bin files
code/

# my log background
include/log/backgrounds/anime_tyan.webp
